div.homepage > div > input[type="text"] {
  padding: 15px !important;
  width: 222px;
}


body.jobify {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/036/080/original/spot-light-background-gallery-theater-interior-3d-realistic-background-illustration-free-vector.jpg");
  background-size: cover;
  background-size: 100%;
  min-height: 100%;
  min-width: 100%;
}
.nameOfuser {
  padding: 15px;
}
h2 sup {
  /* text-decoration: underline; */
  /* text-decoration: overline; */
  /* text-decoration-style: dotted; */
  /* text-decoration-color: #000000; */
  background-color: #49475b;
  padding: 2px 4px;
  color: #eee;
  font-size: 40px;
  border-radius: 5px;
}

.Homelinks {
  color: #49475b;
  text-decoration: underline;
}

.secondary {
  color: #e9eb9e;
  font-weight: bold;
}

.img-fluid {
  width: 120px;
  height: 60px;
  left: 50%;
  right: 50%;
  top: 1px;
  position: fixed;
}

